.HomeFeedItem{
  background-color: #F6F6F6;
  border: solid #EFEFEF 1px;
  border-radius: 10px;
  height: 100px;
  margin-top: 1rem;
  padding: 1rem;
  text-align: left;
  width: 100%;
}
.HomeFeedItemHeader{
  font-weight: bold;
}

.HomeFeedItemDateTime{
    float:right;
    position: relative;
    bottom: 0;
    font-size: 0.8em;
}

p{
  margin: 0;
  padding: 0;
}
